.active-page {
  opacity: 0.5;
  padding-left: 15px;
}

.drawer-button-wrapper {
  display: flex;
  font-size: 1.5rem;
  padding-bottom: 2%;
}
.drawer-button-wrapper:hover {
  cursor: pointer;
  background-color: #ffffff13;
}

.drawer-button {
  font-size: 2rem !important;
  margin-right: 5px;
  margin-left: 5px;
}
