.active-page {
  background-color: var(--blue-2);
}

.drawer-button-wrapper {
  color: var(--blue-5);
  display: flex;
  font-size: 1.5rem;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-direction: row;
  align-items: center;
}
.drawer-button-wrapper:hover {
  cursor: pointer;
  background-color: var(--blue-2);
}

.drawer-button {
  font-size: 2rem !important;
  margin-right: 5px;
  margin-left: 5px;
}
