.filter-dialog-action-section {
  display: flex !important;
  justify-content: center !important;
}

.recipe-filter-dialog .title {
  color: var(--blue-1);
}

.recipe-filter-dialog .icon {
  cursor: pointer;
}
