.app-bar {
  height: 64px;
  padding: 15px !important;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--blue-1);
}

.app-bar .icon {
  color: var(--blue-5);
}
.app-bar .content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-bar .logo {
  filter: invert(100%);
  overflow: hidden;
  width: 103px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;

  filter: invert(75%) sepia(95%) saturate(1839%) hue-rotate(183deg)
    brightness(107%) contrast(98%);
}

.app-bar .search-bar-container {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .app-bar .logo-container {
    flex-grow: 1;
  }
}
