.drawer .MuiDrawer-paper {
  background-color: var(--blue-1);
  color: var(--blue-5);
  /* color: white; */

  width: 300px;
}
.drawer .MuiDivider-root {
  background-color: var(--blue-2);
}
.drawer .drawer-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.drawer .drawer-header .icon {
  color: var(--blue-5);
}
.drawer .user-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  font-size: 1.2rem;
}

.drawer .drawer-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.drawer .socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .drawer .MuiDrawer-paper {
    width: 100vw;
  }
}
