.search-bar-container {
  display: flex;
  justify-content: space-between;
}
.search-bar-container .icon {
  color: var(--blue-5);
}

.search-container {
  flex-grow: 1;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  border-radius: 5px;
  background-color: var(--blue-2);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.search-bar-container .MuiButtonBase-root {
  padding: 0px !important;
  color: var(--blue-5);
}
.search-bar-container .MuiAutocomplete-inputRoot {
  padding-right: 43px !important;
  color: white;
}

.search-bar-search-field {
  width: 25ch;
}

.search-container:hover {
  background-color: var(--blue-3);
}

.search-container .MuiOutlinedInput-notchedOutline {
  border: none;
}

@media only screen and (max-width: 600px) {
  .search-bar-container {
    width: 100%;
  }
  .search-bar-search-field {
    width: 100%;
  }
}
