.authorized-btn {
  color: rgba(255, 255, 255, 0.253);
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  padding: 0px !important;
  margin: 0px !important;
}

.login-modal {
  height: 300px;
  width: 600px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-modal .login-form-input-segment {
  height: 100%;
  width: 100%;
}
.login-modal > #login-container {
  background: none;
}

@media only screen and (max-width: 600px) {
  .login-modal {
    width: 100%;
  }
}
