.header {
  background-color: rgb(46, 46, 100);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-left-button-group {
  display: flex;
  flex-direction: row;
}

.header-btn {
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
}

.header-dialog-action-section {
  display: flex !important;
  justify-content: center !important;
}

.header-dialog-button {
  cursor: pointer;
  font-size: 5vh !important;
}
