.search-bar-container {
  height: 40px;
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.336);
  margin-left: 0;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 2px;
}

.search-bar-search-field {
  /* box-shadow: 0px 0px 4px 0px #6a6a9f; */
  /* border-bottom: 1.5px solid white; */
  color: inherit;
  width: 25ch;
  transition: width 0.2s;
}

.search-bar-container:hover {
  background-color: rgba(255, 255, 255, 0.466);
}
.search-icon-wrapepr {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .search-bar-search-field {
    width: 100%;
  }

  .search-bar-container {
    width: 100%;
  }
}
.search-bar-container .MuiOutlinedInput-notchedOutline{
  border: none;
}
