.recipe {
  width:60%;
  margin:auto;
}

/*header styling*/
.recipe .recipe-header {
  display: flex;
  flex-direction: column;
}
.recipe .recipe-title{
  display:flex;
  font-size: 3rem;
  font-weight: 640;
  font-style:italic;
}
.recipe .recipe-description{
  font-size: 130%;
  font-weight: 600;
  font-style:italic;
}
.recipe .recipe-owner{
  font-size: 110%;
}
.recipe .recipe-time {
  color:rgb(145, 145, 145);
  font-style:italic;
  
}

/*body styling*/
.recipe .recipe-body {
  width:90%;
  margin:auto;
}

.recipe .recipe-image-and-additional-data-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom:40px;
  margin-top:40px;
  row-gap: 10px;

}
.recipe .recipe-image-and-additional-data-container > *{
  margin-inline: 1%;
}
.recipe .image {
  width:100%;
  max-width: 600px;
  height:100%;
  max-height:400px;
  object-fit: cover;
  border-radius: 10px;
}
.recipe .recipe-additional-data-container{
  width:225px;
  max-width: 600px;
  max-height:400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border:2px solid rgb(45, 182, 106);
  border-radius: 10px;
  padding-left:10px;
  padding-right:10px;
  
}
.recipe .recipe-additional-data{
  margin-bottom:10px;
  word-break: break-word;
}
.recipe .additional-data-title{
  font-weight:650;
  text-decoration: underline;
}

.recipe .recipe-section ul{
  list-style-type: none; /*to remove dots before checkboxes*/
  padding:0;
  margin:0;
}

.recipe .recipe-section h1:not(:first-child),
.recipe .recipe-section h2:not(:first-child),
.recipe .recipe-section h3:not(:first-child),
.recipe .recipe-section h4:not(:first-child),
.recipe .recipe-section h5:not(:first-child),
.recipe .recipe-section h6:not(:first-child) {
  margin-top:20px;
  margin-bottom:5px;
}
.recipe .recipe-section h1:first-child,
.recipe .recipe-section h2:first-child,
.recipe .recipe-section h3:first-child,
.recipe .recipe-section h4:first-child,
.recipe .recipe-section h5:first-child,
.recipe .recipe-section h6:first-child {
  margin-top:10px;
  margin-bottom:5px;
}

.recipe .recipe-section:nth-child(n) {
  margin-bottom:50px;
}
.recipe .recipe-sub-title{
  font-size: 1.3rem;
  font-weight: 600;
  font-style:italic;
}

/*footer styling*/
.recipe .recipe-footer{
  margin-bottom:20px;
}
.recipe .recipe-footer-title{
  font-weight:650;
  text-decoration: underline;
}

/*solves the headache of making the div grow only when it wraps to a new row*/
@media only screen and (max-width: 1600px) {
  .recipe .recipe-additional-data-container{
    width:100%;
  }
}

@media only screen and (max-width: 600px) {
  .recipe {
    width:90%;
  }

  .recipe .recipe-title{
    font-size: 2.5rem;
  }

  .recipe .recipe-body {
    width:100%;
  }

  .recipe .recipe-image-and-additional-data-container{
    
    flex-direction: column;
    align-items: center;
    margin-top:30px;
    margin-bottom:30px;
  }

  .recipe .recipe-additional-data-container{
    margin-top:10px; 
    width:100%;
  }
}