.recipe {
  width:60%;
  margin:auto;
  border:solid 1px black;
}

/*header styling*/
.recipe-header {
  direction: ltr;
}
.recipe .recipe-header {
  display: flex;
  flex-direction: column;
}

/*body styling*/
.recipe .recipe-body {
  width:90%;
  margin:auto;
  border:solid 1px black;
}
.recipe .image {
  width:90%;
  max-width: 500px;
  height:100%;
  object-fit: cover;
}

.recipe .recipe-additional-data-container{
  border:solid 1px black;
  
}
.recipe .recipe-main-data-container{
  border:solid 1px black;
  
}