.recipe-card {
  border-radius: 5px;
  border: 2px solid black;
  width:505px;
  height: 500px;
  margin: 1%;
}

@media only screen and (max-width: 600px) {
  .recipe-card {
    width:100%;
  }
}

.recipe-card .recipe-card-top-button-row {
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipe-card .recipe {
  height: 86%;
}
.recipe-card .recipe-card-bottom-button-row {
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*recipe header*/
.recipe-card .recipe-header {
  height: 22%;
  display: flex;
  flex-direction: column;
}
.recipe-card .recipe-header .recipe-title {
  font-size: 130%;
  display: flex;
  justify-content: center;
}
.recipe-card .recipe-data-dates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.recipe-card .recipe-data-date {
  padding: 2.5px;
}
.recipe-card .recipe-data-dates .MuiDivider-middle {
  height: 70%;
}
.recipe-card .recipe-data-chips {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom:1%;
}
.recipe-card .recipe-data-chip {
  margin: 1%;
  background-color: var(--recipes-background)
}

/*recipe main section*/
.recipe-card .recipe-main-section {
  height: 78%;
  display: flex;
  flex-direction: column;
}

.recipe-card .recipe-description {
  margin: 0px 10px 0px 10px;
  overflow-y: auto;
  height: 20%;
}
.recipe-card .recipe-description > * {
  margin:0 0 0 0 ;
}

.recipe-additional-data-and-image {
  height: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.recipe-card-image {
  height: 100%;
  width: 60%;
  display: block;
  object-fit: cover;
  background-color: rgb(189, 189, 189);
}

.recipe-card .recipe-additional-data {
  width: 40%;
  word-break:break-all;
  }
.recipe-card .recipe-additional-data-field .caption {
  font-weight: 650;
  margin-right: 4px;
}
