.recipe-page {
  width: 100%;
  height: 100%;
}

.recipe-page-top-button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media print {
  .MuiAppBar-root, .MuiAppBar-root * {
    display:none;
  }
  
  .recipe-page-top-button-row,
  .recipe .recipe-header *:not(.recipe .recipe-title), 
  .recipe .recipe-image-and-additional-data-container,
  .recipe .recipe-footer {
    display:none;
  }

  .recipe,
  .recipe .recipe-body {
    width:95%;
  }
 
}