.recipe-card {
  border-radius: 15px;
  border: 2px solid black;
  width: 505px;
  height: 500px;
  margin: 1%;
  background-color: var(--recipe-card);
  display: flex;
  flex-direction: column;
}

.recipe-card .icon {
  font-size: 30px;
}

/* top button row*/
.recipe-card .recipe-card-top-button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*recipe header*/
.recipe-card .recipe-header {
  display: flex;
  flex-direction: column;
}

.recipe-card .recipe-header .recipe-title {
  font-size: 130%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.recipe-card .recipe-data-dates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recipe-card .recipe-data-date {
  padding: 2.5px;
}

.recipe-card .recipe-data-dates .MuiDivider-middle {
  height: 20px;
}

/*recipe main section*/
.recipe-card .recipe-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.recipe-card .recipe-description {
  margin: 0px 10px 0px 10px;
  overflow-y: auto;
  min-height: 25px;
  max-height: 65px;
}

.recipe-card .recipe-description > * {
  margin: 0 0 0 0;
}

.recipe-card .recipe-card-image {
  min-height: 0;
  flex-grow: 1;
  width: 100%;
  display: block;
  object-fit: cover;
  background-color: rgb(189, 189, 189);
  cursor: pointer;
}

.recipe-card .recipe-additional-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe-card .recipe-additional-data-field {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

/* bottom row*/
.recipe-card .recipe-card-bottom-button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .recipe-card {
    height: fit-content;
    width: 100vw;
  }
  .recipe-card .recipe-card-image {
    max-height: 300px;
  }
  .recipe-card .recipe-description {
    display: none;
  }
}
