.account-info-page {
}
/*shared styling*/
.account-info-page .account-info-preview-section,
.account-info-page .account-info-edit-section {
  position: relative;
  padding: 1%;
  border: 2px var(--blue-3) solid;
  border-radius: 10px;
  width: 60%;
  margin: auto;
}
.account-info-page .account-info-edit-section .edit-input,
.account-info-page .account-info-preview-section .info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.account-info-page .account-info-preview-section .info-container .info > *,
.account-info-page .account-info-edit-section .edit-container .edit-input > * {
  min-width: fit-content;
  margin: 1%;
  width: 48%;
}

/*preview only styling*/
.account-info-page .account-info-preview-section .edit-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
.account-info-page .account-info-preview-section .info-container {
  margin-top: 2rem;
}
.account-info-page .account-info-preview-section .title {
  color: var(--blue-3);
  font-size: 1rem;
}
.account-info-page .account-info-preview-section .data {
  font-size: 1.6rem;
  font-weight: 600;
}

/*edit only styling*/
.account-info-page .account-info-edit-section .MuiDivider-root {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.account-info-page .account-info-edit-section .edit-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.account-info-page .account-info-edit-section .edit-section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blue-1);
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .account-info-page .account-info-preview-section,
  .account-info-page .account-info-edit-section {
    padding: 2%;
    border-radius: 10px;
    width: 100%;
    border: none;
  }

  /*preview styling*/
  .account-info-page .account-info-preview-section .edit-button {
    position: relative;
    top: auto;
    right: auto;
    display: block;
    margin-inline: auto;
    margin-top: 1rem;
  }
  .account-info-page .account-info-preview-section .info-container {
    margin-top: 2.5rem;
  }
  .account-info-page .account-info-preview-section .MuiDivider-root {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .account-info-page .account-info-preview-section .title {
    font-size: 0.8rem;
  }
  .account-info-page .account-info-preview-section .data {
    font-size: 1.3rem;
  }

  /*edit styling*/
  .account-info-page
    .account-info-edit-section
    .edit-container
    .edit-input
    > * {
    width: 100%;
  }
}
