:root {
  --sign-in-background: rgb(240, 240, 240);
  --agree-btn:rgb(52, 163, 238);
  --disagree-btn:rgb(52, 163, 238);
  --neutral-btn:rgb(155, 155, 155);
  --app-bar:rgb(197, 197, 197);
}


html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
