:root {
  --blue-1: #003756;
  --blue-2: #335b7d;
  --blue-3: #5d82a6;
  --blue-4: #86abd1;
  --blue-5: #94c9fd;
  --sign-in-background: rgb(255, 255, 255);
  --recipes-background: rgb(255, 255, 255);
  --recipe-card: rgb(255, 255, 255);
  --chips: rgb(219, 219, 219);
}
::selection {
  background-color: #94c8fda2;
}

html .icon {
  font-size: 30px;
  color: var(--blue-3);
}

/*mui overrides*/
html .MuiButton-root {
  background-color: var(--blue-2);
}
html .MuiButton-root:hover {
  background-color: var(--blue-1);
}
html .MuiTab-root {
  color: var(--blue-4);
}
html .MuiTab-root.Mui-selected {
  color: var(--blue-2);
}
html .MuiTabs-indicator {
  background-color: var(--blue-3);
}

html,
body,
#root {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
