.recipe-editor {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 60%;
  margin: auto;
}

.recipe-editor .metadata-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-editor .privacy-explanation {
  padding-left: 31px;
}

.recipe-editor .text-input-container {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.recipe-editor .selectors-input-container {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-editor .image-name {
  color: var(--blue-3);
  border-color: var(--blue-4);
}
.recipe-editor .image-name .MuiSvgIcon-root {
  color: var(--blue-4);
}

.recipe-editor-tabs {
  align-items: center;
  flex-grow: 1;
  margin-bottom: 15px;
  margin-top: 2rem;
}

.recipe-editor .image {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;

  margin-inline: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

@media only screen and (max-width: 600px) {
  .recipe-editor {
    width: 90%;
  }
}
