.recipe-editor {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  width: 60%;
  margin: auto;
}

.recipe-editor-metadata-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-editor-text-input-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.recipe-editor-selectors-input-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.recipe-editor-image-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-image-btn {
  display: inline-block;
  background: rgb(106, 126, 214);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.recipe-editor-tabs {
  align-items: center;
  flex-grow: 1;
  margin-bottom:15px;
}

.recipe-editor-section-title {
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 5px;
}

.recipe-editor-text-box {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}

.recipe-editor-text-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recipe-editor-text-box h1,
.recipe-editor-text-box h2,
.recipe-editor-text-box h3,
.recipe-editor-text-box h4,
.recipe-editor-text-box h5,
.recipe-editor-text-box h6 {
  margin-top:20px;
  margin-bottom:5px;
}


.recipe-editor-image {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  display: block;
}



@media only screen and (max-width: 600px) {
  .recipe-editor {

    width: 90%;
  }
}