.recipe-editor-page {
  /* display: flex;
  flex-direction: column;
  align-items: stretch; */
}
.recipe-editor-page-top-button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipe-editor-page-top-button-row .icon {
  margin:1% !important;
  font-size: 35px !important;
}
