.header {
  background-color: rgb(46, 46, 100);
}
.header-btn {
  display: inline-block;
  color: #fff;
  border: none;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
}
