.header {
  background-color: rgb(46, 46, 100);
}
.header-btn {
  display: inline-block;
  background: rgb(126, 126, 126);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  text-align: center;
}
