.recipe-card {
  border-radius: 5px;
  border: 2px solid black;
  width: 805px;
  height: 70vh;
  margin: 1%;
}
.recipe-card .recipe {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 90%;
  flex-grow: 1;
}

.recipe-card .recipe-header {
  text-align: center;
  height: 25%;
  font-size: 3vh;
  font-weight: 400;
}
.recipe-card .recipe-title {
  direction: ltr;
  margin-bottom: 1%;
  font-size: 3vh;
  font-weight: 400;
  height: 20%;
}

.recipe-card .recipe-text-box {
  overflow-y: auto;
  font-size: 100%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  height: 80%;
}

.recipe-card .recipe-section.recipe-description-container {
  width: 100%;
  height: 30%;
  overflow-y: hidden;
}

.recipe-img {
  height: 45%;
}
