.recipe-editor {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
}
.recipe-editor-text-input-container {
  display: flex;
}

.recipe-editor-metadata-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-editor-tabs {
  align-items: center;
  flex-grow: 1;
}

.recipe-editor-text-box {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-left: 1%;
  padding-right: 1%;
}

.recipe-editor-selectors-input-container {
  display: flex;
}

.input {
  margin-left: 1%;
  margin-right: 1%;
}
