.recipe-editor {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
}

.recipe-editor-metadata-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-editor-text-input-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.recipe-editor-selectors-input-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.recipe-editor-tabs {
  align-items: center;
  flex-grow: 1;
}

.recipe-editor-text-box {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-left: 1%;
  padding-right: 1%;
}

#recipe-editor-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
}

.recipe-editor-image-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload-image-btn {
  display: inline-block;
  background: rgb(106, 126, 214);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
