.login-modal {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-choice-modal {
  height: 100%;
  /* background-color: white; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.auth-choice-modal .recipes-logo {
  height: 70px;
  margin-bottom: 20px;
}
.auth-choice-modal .choice-content {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  flex-direction: column;
}

.auth-choice-modal .text-button {
  color: rgb(72 206 59);
  font-weight: 650;
  cursor: pointer;
}
.auth-choice-modal .text-button:hover {
  color: rgba(71, 206, 59, 0.781);
}

.login-modal #authentication-page .recipes-logo {
  display: none;
}
.login-modal > #authentication-page {
  height: fit-content;
  width: fit-content;
  background: none;
}
.login-modal > #authentication-page .authentication-section {
  margin: 0px;
  box-shadow: none;
}
