.login-modal {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.auth-choice-modal {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  background-color: white;
  height: 60px;
  width: fit-content;
}

.login-modal #login-page .recipes-logo,
.login-modal #signup-page .recipes-logo {
  display: none;
}
.login-modal > #login-page,
.login-modal > #signup-page {
  height: fit-content;
  width: fit-content;
  background: none;
}
.login-modal > #login-page .login-section,
.login-modal > #signup-page .signup-section {
  margin: 0px;
  box-shadow: none;
}
