#authentication-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
#authentication-page .recipes-logo {
  cursor: pointer;
  height: 27%;
  filter: invert(15%) sepia(23%) saturate(3811%) hue-rotate(175deg)
    brightness(99%) contrast(101%);
}
#authentication-page .authentication-section {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 0px 7px 1px;
  padding: 10px 25px 25px 25px;
  margin-top: 10vh;
  margin-bottom: 5px;
}
/*input grid*/
#authentication-page .title {
  color: var(--blue-1);
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

/* for some reason the mui input labels are not aligned */
#authentication-page label {
  top: auto;
  left: auto;
}
#authentication-page .form-input-segment.signup {
  display: grid;
  grid-template-areas:
    "first-name last-name"
    "username email"
    "password password"
    "confirm-password confirm-password";
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 30px;
}
#authentication-page .form-input-segment.login {
  display: grid;
  grid-template-areas:
    "username"
    "password";
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-bottom: 30px;
}

#authentication-page .form-input-segment > * {
  padding: 5px;
}

#authentication-page #authentication-firstname-input {
  grid-area: first-name;
}
#authentication-page #authentication-lastname-input {
  grid-area: last-name;
}
#authentication-page #authentication-email-input {
  grid-area: email;
}
#authentication-page #authentication-username-input {
  grid-area: username;
}
#authentication-page #authentication-password-input {
  grid-area: password;
}
#authentication-page #authentication-passwordconfirm-input {
  grid-area: confirm-password;
}

/*button grid*/
#authentication-page .button-section {
  display: grid;
  grid-template-areas:
    "top top"
    "left right";
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5px;
}

#authentication-page .main-button-1 {
  grid-area: top;
}
#authentication-page .extra-button-1 {
  grid-area: right;
}

#authentication-page .extra-button-2 {
  grid-area: left;
}

@media only screen and (max-width: 600px) {
  #authentication-page .authentication-section {
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    margin-top: 10%;
  }
  #authentication-page .recipes-logo {
    height: 17vh;
    top: 0%;
  }
}
