.login-modal {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-choice-modal {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.auth-choice-modal .recidex-logo {
  height: 70px;
  margin-bottom: 20px;
  filter: invert(15%) sepia(23%) saturate(3811%) hue-rotate(175deg)
    brightness(99%) contrast(101%);
}
.auth-choice-modal .choice-content {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  flex-direction: column;
}

.auth-choice-modal .text-button {
  color: var(--blue-3);
  font-weight: 650;
  cursor: pointer;
}
.auth-choice-modal .text-button:hover {
  color: var(--blue-4);
}

.login-modal #authentication-page .recidex-logo {
  display: none;
}
.login-modal > #authentication-page {
  height: fit-content;
  min-height: 0;
  width: fit-content;
  background: none;
}
.login-modal > #authentication-page .authentication-section {
  margin: 0px;
  box-shadow: none;
}
