.forgot-credentials-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.forgot-credentials-page .forgot-credentials-container {
  width: 550px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 0px 7px 1px;
  padding: 10px 25px 25px 25px;
  margin-top: 10vh;
  margin-bottom: 5px;
}

.forgot-credentials-page .title {
  color: var(--blue-1);
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.forgot-credentials-page .input-section {
  display: flex;
  flex-direction: column;
}
.forgot-credentials-page .input-section > * {
  margin-block: 0.5rem;
}

.forgot-credentials-page .button-container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .forgot-credentials-page .forgot-credentials-container {
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    margin-top: 15vh;
  }
}
