.reset-password-page {
  min-height: calc(100vh - 64px);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.reset-password-page .reset-password-container {
  width: 550px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 0px 7px 1px;
  padding: 10px 25px 25px 25px;
  margin-top: 10vh;
  margin-bottom: 5px;
}

.reset-password-page .title {
  color: var(--blue-1);
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.reset-password-page .input-section {
  display: flex;
  flex-direction: column;
}
.reset-password-page .input-section > * {
  margin-block: 0.5rem;
}

.reset-password-page .button-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .reset-password-page .reset-password-container {
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    margin-block: auto;
  }
}
