.recidex-logo {
  margin-top: 1rem;
  cursor: pointer;
  height: 20vh;
  filter: invert(15%) sepia(23%) saturate(3811%) hue-rotate(175deg)
    brightness(99%) contrast(101%);
}

@media only screen and (max-width: 600px) {
  .recidex-logo {
    height: 15vh;
  }
}
