.scroll-to-top-btn {
  background-color: var(--blue-1) !important;
  position: fixed !important;
  bottom: 16px;
  right: 16px;
}

.scroll-to-top-btn:hover {
  background-color: var(--blue-2) !important;
}
.scroll-to-top-btn .icon {
  color: var(--blue-5);
}

.close-scroll-to-top-btn {
  color: gray;
  position: fixed !important;
  cursor: pointer;
  bottom: 60px;
  right: 4px;
  z-index: 99999;
}
