[Unit]
Description=Run a backup-dump of the mongo database
Requires=mongodb.service
After=mongodb.service

[Service]
Type=oneshot
User=root
# have to escape the %s or systemd replaces them
ExecStart=/bin/bash -c 'mongodump --archive=/var/backups/recipes/$(date +%%Y%%m%%d%%H%%M%%S).gz --gzip'

# delete all but 14 most recent backups (double % for escaping systemd replacements)
ExecStartPost=/bin/bash -c "echo 'Mongo backup completed; removing excess backups..' ; find /var/backups/recipes/ -type f -printf '%%T@ %%p\n' | sort --reverse --numeric | tail --lines +14 | cut --fields 2 --delimiter=' ' | xargs --no-run-if-empty rm -fv"
