[Unit]
Description=Periodic backups for Recidex
BindsTo=mongodb.service
# Run once immediately
Requires=recipes-backup.service
After=mongodb.service


[Timer]
Unit=recipes-backup.service
OnCalendar=daily
