[Unit]
Description=Periodic backups for Recidex


[Timer]
Unit=recidex-backup.service
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
