.admin-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}
.admin-table .table-container {
  flex-grow: 1;
}

.admin-table .pagination-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
