.details-row-table {
  display: flex !important;
  justify-content: center;
}

.admin-table-details-row .MuiTableCell-root {
  /* border-color: #98b0c7; */
  /* border: none; */
}
.details-row-table td {
  border-color: var(--blue-2);
}
