.markdown-toolbar-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}

.markdown-toolbar-container .markdown-icon {
  height: 20px;
}

.markdown-toolbar {
  direction: ltr;
  display: flex;
  align-items: center;
  width: fit-content;
}

.markdown-toolbar-container .icon{
  cursor:pointer;
}

