.markdown-toolbar-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.markdown-toolbar {
  direction: ltr;
  display: flex;
  align-items: center;
  width: fit-content;
}

.markdown-toolbar-container .icon {
  color: black;
  font-size: 24px;
  cursor: pointer;
}
